<main>

  <head>
      <meta charset="utf-8">
      <title>Ticket Management Site</title>
      <link rel="stylesheet" href="../../assets/css/home.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500&display=swap"
          rel="stylesheet">
      <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
      <script src="https://kit.fontawesome.com/7aa1c87325.js" crossorigin="anonymous"></script>
      <style>
          .center {
              text-align: center;
              width: 100%;
          }
      </style>
  </head>
  <section class="header">
      <nav>
          <div>
              <div class="nav-links-left">
                  <a href="/">
                    <img src="../../assets/images/dsce logo-modified (1).png" alt="DSCE Logo" />
                  </a>
                  <div class="text">Dayananda Sagar College of Engineering</div>
              </div>
              <div class="nav-links">
                  <ul>
                      <li><a href="/auth/signup">SIGN UP</a></li>
                      <li><a href="/auth/login">LOG IN</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <section class="part2">
          <div class="slider">
              <div class="slides">
                  <input type="radio" name="radio-btn" id="radio1">
                  <input type="radio" name="radio-btn" id="radio2">
                  <input type="radio" name="radio-btn" id="radio3">
                  <input type="radio" name="radio-btn" id="radio4">
                  <input type="radio" name="radio-btn" id="radio5">

                  <div class="slide first">
                      <img src="../../assets/images/img1.jpeg" />
                  </div>
                  <div class="slide">
                      <img src="../../assets/images/img2.jpg" />
                  </div>
                  <div class="slide">
                      <img src="../../assets/images/img3.jpeg" />
                  </div>
                  <div class="slide">
                      <img src="../../assets/images/img4.jpeg" />
                  </div>
                  <div class="slide">
                    <img src="../../assets/images/img3.1.png" />
                </div>

                  <div class="navigation-auto">
                      <div class="auto-btn-1"></div>
                      <div class="auto-btn-2"></div>
                      <div class="auto-btn-3"></div>
                      <div class="auto-btn-4"></div>
                      <div class="auto-btn-5"></div>
                  </div>
              </div>

              <div class="navigation-manual">
                  <label for="radio1" class="manual-btn"></label>
                  <label for="radio2" class="manual-btn"></label>
                  <label for="radio3" class="manual-btn"></label>
                  <label for="radio4" class="manual-btn"></label>
                  <label for="radio5" class="manual-btn"></label>
              </div>

          </div>
      </section>

      <footer>
          <div class="container">
              <a href="https://www.facebook.com/dsceofficial/">
                  <i class="fa-brands fa-facebook fa-lg" style="color: #ffffff;"></i></a>

              <a href="https://twitter.com/DsceOfficial">
                  <i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i></a>

              <a href="https://www.instagram.com/dsce.official/">
                  <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>

              <a href="https://www.linkedin.com/in/dsceofficial">
                  <i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i></a>
              <div class="copyright">
                  <p>Copyright © 2023 DSCE. All Rights Reserved.</p>
              </div>
          </div>
      </footer>